@use '../base/variables' as *;

.flex
{
    display: flex;
}
.aling-center
{
    align-items: center;
    justify-content: center;
}
.display-column
{

    flex-direction: column;
}
.space-between
{
    align-items: center;
    justify-content: space-between;
}
.space-around
{
    align-items: center;
    justify-content: space-around;
}
.space-evenly
{
    align-items: center;
    justify-content: space-evenly;
}
//Alineacion cross axis
.items-start
{
    align-items: flex-start;
}
.items-center
{
    align-items: center;
}
.items-end
{
    align-items: flex-end;
}
//Alineacion Main axis
.justify-start
{
    justify-content: flex-start;
}
.justify-center
{
    justify-content: center;
}
.justify-end
{
    justify-content: flex-end;
}