// _container.scss
//imports necesario
@use '../base/mixins' as *;
@use '../base/variables' as *;

// ==================== Estilos para el contenedor principal ====================
.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1rem;
    padding-left: 1rem;

    //bucle para aplicar max-width segun el breakpoint definido en el mapa de breakpoints
    @each $bp, $max-width in $container-max-widths {
        @include respond-to($bp) { //se hace el uso de la funcion respond-to para aplicar los estilos segun el breakpoint
            max-width: $max-width;
        }
    }
}

// ==================== Estilos para el contenedor fluido ====================
.container-fluid { //se ajusta al 100% del ancho de la pantalla sin importar el breakpoint
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1rem;
    padding-left: 1rem;
}


