//imports necesarios
@use '../base/mixins' as*;
@use '../base/variables' as*;

//base de las alertas
.alert
{
    padding: map-get($spacers, "2");
    @include rounded('sm');
    @include shadow('sm');
    font-family: $font-fallback;

    margin-bottom: map-get($spacers, "2");
    border-left: 4px solid transparent;
    color: $dark-primary;
    width: 100%;
    box-sizing: border-box;
    word-break: break-word;

    //loop para variantes de color
    @each $type, $color in $alert-colors{
        &-#{$type}{
            background-color: $color;
            border-left-color:darken($color, 15%) ;
        }
    }

}


//loop para tamaño de alertas (responsivos)
@each $bp, $width in $alerts-widths
{
    @include respond-to($bp)
    {
        .alert
        {
            max-width: $width;
            margin: 0 auto;
        }
    }
}
//Loop para el tamaño de fuente dependiendo de tamaño de pantalla(responsivo)
@each $bp, $font-size in $alert-font-sizes
{
    @include respond-to($bp)
    {
        .alert
        {
            font-size: $font-size;
        }
    }
}


