/* _variables.scss */

/*=============== Paleta Tonos Claros (Light) =====================*/
$light-primary-sand:    #fad4b2;   
$light-primary:         #FFFFFF;   
$light-accent-gold:     #d4af37;   
$light-blue:            #0074D9;   
$light-blue-bright:     #7FDBFF;   
$light-pale-blue:       #E0F7FF;   
$light-green:           #2ECC40;   
$light-green-neon:      #7FFF00;   
$light-secondary:       #CCFFCC;   
$light-cream:           #FFF3E0;   
$light-calid-yellow:    #FFCC66;   
$light-sand:            #F4A460;   

/*============== Paleta Tonos Oscuros (Dark) ====================*/
$dark-primary:          #0D0D0D;   
$dark-primary-alt:      #1A1A1A;   
$dark-red-deep:         #2B0000;   
$dark-red:              #8B0000;   
$dark-blue-space:       #001F3F;   
$dark-blue-deep:        #003366;   
$dark-green-deep:       #013220;   
$dark-green:            #0B6623;   
$dark-gray-deep:        #2C2C2C;   
$dark-blue-black:       #111827;   
$dark-gray-light:       #696969;   
$dark-red-light:        #e02323;  