/* _variables.scss */

/*=============== Paleta Tonos Claros (Light) =====================*/
$light-primary-sand:    #fad4b2;   
$light-primary:         #FFFFFF;   
$light-accent-gold:     #d4af37;   
$light-blue:            #0074D9;   
$light-blue-bright:     #7FDBFF;   
$light-pale-blue:       #E0F7FF;   
$light-green:           #2ECC40;   
$light-green-neon:      #7FFF00;   
$light-secondary:       #CCFFCC;   
$light-cream:           #FFF3E0;   
$light-calid-yellow:    #FFCC66;   
$light-sand:            #F4A460;   